@import "../../Assets/styles";

//Styling of MenuBar
#menuBar {
    &>li {
        padding: .5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }
}

//Styling of Visible DropDowns
#fileDropDown,
#editDropDown,
#formatDropDown {
    width: 20vw;
    position: absolute;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include border-a-white;
}
.sector {
    width: 100%;
    display: flex;
    font-weight: 500;
    align-items: center;
    flex-direction: column;

    &>ul {
        width: 95%;
        display: grid;
        cursor: pointer;
        border-radius: 5px;
        padding: .3rem 1rem;
        transition: .1s ease-in;
        grid-template-columns: 5fr 3fr;

        &:hover {
            background-color: #a6b1e16e;
        }

        &>li:first-child {
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
        }

        &>li:last-child {
            display: flex;
            justify-content: flex-end;
        }

        &>i {
            align-self: center;
            font-size: 1.2rem;
        }
    }
}

.discard-menu-option {
    &:hover {
        background-color: #ff0000ea !important;
    }
}


#openFileDialog {
    &>main {
        grid-template-rows: 1.5fr 8fr 1.4fr;
    }
}

#newFileDialog,
#saveFileDialog {
    &>main {
        grid-template-rows: 2fr 3fr 2fr;
    }
}

#file_grid {
    grid-template-rows: repeat(8, 1fr);
    display: grid;
    width: 100%;

    .file_box {
        display: grid;
        grid-auto-flow: column;
        height: 100%;
        grid-template-columns: 2fr 13fr 2fr;
        transition: .2s ease-in;
        border-radius: 0.375rem;

        &:hover {
            background-color: #a6b1e16e;
        }

        &>i {
            color: #D6E5E3;
            display: grid;
            place-content: center;
            font-size: 1.5rem;
        }

        &>span {
            display: flex;
            align-items: center;
            margin: 0 1.5rem;
            color: #D6E5E3;
        }
    }
}