@media only screen and (min-width:768px) {
    .menu-items {
        &>li {
            padding: .5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .menuBar,
    .quickToolBar {
        transition: .3s linear;
    }

    #fileDropDown,
    #editDropDown,
    #formatDropDown {
        position: absolute;
        width: 20vw;
        background: white;
        border-radius: 5px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 1px solid rgba(255, 255, 255, 0.15);

        transition: .3s linear;
    }

}

.sector {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-weight: 500;

    &>ul {
        padding: .3rem 1rem;
        display: grid;
        width: 95%;
        border-radius: 5px;
        grid-template-columns: 5fr 3fr;
        cursor: pointer;
        transition: .1s ease-in;

        &>li:first-child {
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
        }

        &>li:last-child {
            display: flex;
            justify-content: flex-end;
        }

        &>i {
            align-self: center;
            font-size: 1.2rem;
        }

        &:hover {
            background-color: #0F193F;
            color: #FBF5F3;
        }
    }
}

.discard-menu-option {
    &:hover {
        background-color: #C91106 !important;
        color: white !important;
    }
}