// @media only screen and (max-width:768px) {
//     #toolbar_parent {
//         &>section:first-child {
//             border: 2px solid red;
//             height: 14rem;
//             .fileMenu {
//                 display: flex;
//                 height: 100%;
//                 justify-content: center;
//                 flex-direction: column;
//                 align-items: start;

//                 &>li {
//                     margin-left: 0 !important;
//                     display: flex;
//                 }
//             }
//         }
//     }

// }

.menu-items {
    &>li {
        padding: .5rem 1rem;
        border-radius: 5px;

        &:hover {
            background-color: #14591d82;
        }
    }
}