#textfieldWrapper {
    display: grid;
    grid-template-rows: 15fr 1fr;

    #textfield {
        transition: .3s linear;

        &::selection {
            background-color: #bfffbc;
        }
    }
}