#textfieldWrapper {
    display: grid;
    grid-template-rows: 15fr 1fr;

    #textfield {
        &::selection {
            background-color: #a6b1e16e;
        }
        &::placeholder{
            // color: #0073d0;
        }
    }
}