//Color Palette
$primary: #D6E5E3; //Light Color
$secondary: #000411; // Dark Color
$tertiary: #A6B1E1;
$raisinBlack: #242124;

@mixin border-a-white {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

@mixin border-a-black {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

@mixin button {
    color: $secondary;
    background-color: $tertiary;
}